

<div class="error-body">
    <div class="error-container">
        <h1 class="error-code">@ViewBag.ErrorMessage</h1>
        <p class="error-message">Oops! The page you're looking for could not be found.</p>
        <a href="/" class="back-home-link">Back to Home</a>
    </div>
</div>
